/*
When you hide an element with display: none.
That prevents screen readers from reading it to the user.
This makes them accessible.
*/

@mixin visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}
