//Define different font sizes to use throughout our app

//Base font size throught the site.
$base-font-size: 13px;

//Differnt font sizes to use throughout our app.  
$copy-size-a: rem(9px);
$copy-size-b: rem($base-font-size);
$copy-size-c: rem(15px);
$copy-size-d: rem(18px);
$copy-size-e: rem(21px);
$copy-size-f: rem(24px);
